body {
    margin-bottom: 0px;
}

.nested-container {
    border:2px solid black;
    min-height: 80vh;
    
}

.toggle-content {
    display: none;
}

.toggle-content.is-visible {
    display: block;
}



#gameOver {
    font-size: xx-large;
}